<%- include('layout/default') %>
<main>
    <h1>Udfyld spørgeskemaet</h1>

    <form action="/sporgeskema" method="POST">
        <label>Navn: <input type="text" name="name" required></label><br>
        <label>Email: <input type="email" name="email" required></label><br>
        <label>Svar: <textarea name="answer" required></textarea></label><br>
        <button type="submit">Send</button>
    </form>
</main>