<div style="background-color: darkslategray; margin-top: 1rem;padding: 1rem;">
    <p style="color: azure; font-family:Arial, Helvetica, sans-serif; font-weight: bold;">Hvordan kan vi optimere undervisningen hos IBA?</p>

    <form action="/submit" method="POST" autocomplete="off">
        <textarea name="feedback" style="width: -webkit-fill-available; height: 5rem; margin: 1rem 0; padding: 1rem;"></textarea>
        <button type="submit">Send Feedback</button>
    </form>
</div>